body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.first{
    background-color: #1F2937;
    padding-left: 250px;
    padding-bottom: 100px;
    padding-right: 250px;
}

.first-content{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.header{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

ul{
    list-style: none;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 6px;
    color: #F9FAF8;
    box-shadow: none;
    width: 100px;
    height: 30px;
}

.links{
    display: flex;
    gap: 32px;
}

.intro{
    display: flex;
    justify-content: space-between;
}

.hero{
    width: 50%;
    font-size: 18px;
    color: #F9FAF8;
}

.hero-main{
    font-size: 48px;
    margin: 0;
}

.hero-second{
    font-size: 19px;
}

.second{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.second-images{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.information-header{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.one, .two, .three, .four{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    
}

.third{
    background-color: #e5e7eb;
    padding: 50px 400px;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author{
    text-align: end;
    font-weight: bolder;
    font-size: 25px;
}

.fourth{
    padding: 50px 150px;
}

.blue-box{
    display: flex;
    background-color: #3882f6;
    border-radius: 13px;
    padding: 20px 200px;
    justify-content: space-between;
    align-items: center;
}

.blue-text{
    display: flex;
    flex-direction: column;
}

.blue-left{
    margin: 0;
    font-size: 20px;
    color: #F9FAF8;
}

.fith{
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.one{
    background-image: url(./images/one.jpg);
    background-size: cover;
}

.two{
    background-image: url(./images/two.jpg);
    background-size: cover;
}

.three{
    background-image: url(./images/three.jpg);
    background-size: cover;
}

.four{
    background-image: url(./images/four.jpg);
    background-size: cover;
}